[Unit]
Description=creates a cbsd service. This is used for ssh services to run many cbsd processes on different remote machines

After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /users/shemk/sas_crts/cbsd/radio.py

[Install]
WantedBy=multi-user.target
