[Unit]
Description=creates a background service that reads gps data from a file

After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gpsfake -q -c 1 -S /opt/sas/gps/fake.log

[Install]
WantedBy=multi-user.target
RequiredBy=gps_proxy.service
